/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Id]
      ,[Codigo]
      ,[Reparticion]
  FROM [IPS].[dbo].[ReparticionesYMunicipios]


  SELECT     id,  (id/2.00) ,(id/2.00)-0.001, TODO
FROM          aux_antADMI_